@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@440&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto+Slab:wght@440&display=swap');

.roboto-slab-font {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 440;
  font-style: normal;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    font-size: 16px;
    --credit-font-size: 1rem;
    --padding-margin-left: 30px;
    --error-red-color: rgb(253, 117, 117);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    max-height: 100vh;
    width: 30%;
    background-image: url(./img/shifaaz-shamoon-9K9ipjhDdks-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-right: 2px solid rgb(7, 71, 100);
}

.title-container {
    height: 20vh;
    width: 100%;
    margin-top: 5vw;
    padding: 2vw;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding-right: 2vw;
}

.logo img {
    height: 8vw;
    width: 8vw;
}

.title {
    font-family: "Lilita One", sans-serif;
    color: white;
    font-size: 3vw;
}

.flaticon {
    margin-bottom: 10px;
    font-size: var(--credit-font-size);
    background: linear-gradient(
        to right,
        rgba(218, 255, 255, 0.6),
        rgba(55, 197, 197, 0.6),
        rgba(20, 139, 139, 0.6));
    padding: 2px;
    border-radius: 8px;
}

.flaticon a {
    text-decoration: none;
    font-size: var(--credit-font-size);
}

.unsplash {
    font-size: var(--credit-font-size);
    background: linear-gradient(
        to right,
        rgba(218, 255, 255, 0.6),
        rgba(55, 197, 197, 0.6),
        rgba(20, 139, 139, 0.6));
    padding: 2px;
    border-radius: 8px;
}

.credits > a {
    text-decoration: none;
    color: rgb(0, 38, 255);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.info p{
    width: 90%;
    font-size: 2vh;
    font-family: "Roboto Slab", serif;
    margin-left: var(--padding-margin-left);
    padding-bottom: 10px;
}

.form-container {
    padding-left: var(--padding-margin-left);
    background: linear-gradient(
        to right,
        rgb(10, 97, 138) 10%,
        rgb(52, 162, 212));
    box-shadow: 0 10px 20px -10px rgb(189, 220, 255);
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.form-container h1 {
    font-size: 2rem;
}

.form {
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.inputs {
    padding-right: 10px;
    padding-bottom: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

input {
    box-sizing: border-box;
    height: 3rem;
    max-height: 3rem;
    width: 70%;
    margin-top: 8px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
}

input:hover {
    border: 3px solid rgb(146, 211, 255);
}

input:focus {
   outline: none;
   border: 3px solid rgb(146, 211, 255);
   box-shadow: 0 10px 20px -10px rgb(134, 182, 238);
}

[type="password"]:invalid {
    border: 2px solid var(--error-red-color);
}

.error-message {
    font-size: 12px;
    visibility: hidden;
    color: var(--error-red-color);
}

#button {
    margin-left: var(--padding-margin-left);
    margin-top: -50px;
    min-width: 200px;
    width: 200px;
    height: 6.5vh;
    color: white;
    font-size: 16px;
    font-weight: 900;
    background-color: rgb(14, 156, 223);
    border-radius: 10px;
    border: 0;
    border-bottom: 4px solid rgb(12, 128, 182);
}

#button:hover {
    background-color: rgb(64, 174, 224);
    cursor: pointer;
}

.content > button + p {
    margin-left: var(--padding-margin-left);
    position: relative;
    top: -50px;
}

.login {
    color: rgb(14, 156, 223);
    font-weight: 900;
}

.login:hover {
    color: rgb(64, 174, 224);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    body {
        flex-direction: column;
        min-height: 130vh;
        max-width: 100%;
    }

    .image-container {
        width: 100%;
        height: 35vh;
        border: 0;
    }

    .logo img {
        height: 15vw;
        width: 15vw;
    }

    .title {
        font-size: 9vw;
    }

    .credits {
        display: flex;
        gap: 0.5vw;

    }

    .unsplash {
        margin-bottom: 10px;
        font-size: 2vw;
        background: linear-gradient(
        to right,
        rgb(197 197 197 / 60%),
        rgb(146 255 255 / 60%),
        rgb(123 196 196 / 60%));
    }

    .flaticon {
        font-size: 2vw;
    }

    .unplash a, .flaticon a {
        font-size: 2vw;
    }

    .info {
        padding: 1.5vh;
        margin-right: var(--padding-margin-left);
    }
   
    .info p{
        font-size: 2vh;
    }

    input {
        width: 30vw;
    }

    .inputs label {
        font-size: 3vw;
    }

    #button {
        margin-top: 3vh;
        height: 7vh;
        width: 40vw;
        font-size: 2vh;
    }

    #button + p {
        margin-top: 8vh;
        font-size: 1rem;
        flex-wrap: wrap;
    }

    #button + p > span {
        white-space: nowrap;
    }

    .error-message {
        font-size: 1.7vh;
    }
}
